<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/myphotos"><span class="glyphicon glyphicon-user"></span>My photos</a>
      </li>
      <li>
      <li>
        <a href="/upload"><span class="glyphicon glyphicon-user"></span>Add photo</a>
      </li>
     </ul>

     <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="/"><span class="glyphicon glyphicon-book"></span> <%= userName %> </a>
        </li>
     </ul>
  </div>
</nav>
