<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
     <% include ../partials/header.ejs %>
    
  </head>
  <body>
     <% include ../partials/navbar_unregistered.ejs %>
     <div class="jumbotron text-center">
     <div class="container">
  	<form action="/login/checkuser" method="GET">
      <div class="row row-fluid">
      <div class="col-sm-4">
      <div class="form-group">
        <label for="login" id="loginLabel">Login:</label>
      	<input type="text" class="form-control" name="login"><br>
        <label for="password" id="passwordLabel">Password</label>
      	<input type="text" class="form-control" name="password"><br>
        <input class="form-control button-primary" type="submit" value="Login">
      </div>
      </div>
      </div>
    </form> 
    <br>
    <br>
      <div class="row row-fluid">
        <div class="col-sm-4">
        <div class="form-group">
             <form action="/login/newuser" method="GET">
                  <input class="form-control button-primary" type="submit" value="Signup">
             </form> 
        </div>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>
