<!DOCTYPE html>
<html>
  <head>
    <title>Comments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h3>File:<%= filename %></h3>
  	<br>
	<table>
	   <tr>
	      <th>User</th><th>Comment</th>
	   </tr>

	   <% for (var i = 0; i < comments.length; i++) { %>
	    <tr>
	      <td><%= comments[i].username %></td>
	      <td><%= comments[i].text %></td>
	    </tr>    
	   <% } %>
	</table>
  </body>
</html>
