<!DOCTYPE html lang="en">
<html>
  <head>
    <title>Photo</title>
     <% include ../partials/header.ejs %>
  </head>
  <body>
     <% include ../partials/navbar_registered.ejs %>
  <div class="jumbotron text-center">
   <div class="container">
<div class = "row">
<% for (var i = 1; i < photos.length; i++) {%> 

         <div class = "col-sm-6 col-md-3">
            <div class = "thumbnail">
               <a href = "<%= photos[i].hreflink %>"><img class="img-fluid img-thumbnail rounded" src = "<%= photos[i].permalink %>" alt = "Generic placeholder thumbnail"></a>
            </div>
            
            <div class = "caption">
               <p>
                  <a href = "#"><img width="12%" src="../images/like_small_off.png"></a>
                  <a href = "<%= photos[i].hreflink %>" class = "btn btn-primary" role = "button">
                     Comment
                  </a> 
               </p>
               
            </div>
         </div>
         <%if ( i != 0 && ( (i % 4) == 0) ) {%>
            </div>
            <div class = "row"> 
         <%} %>
         
<% } %>
</div>
</div>
</div>
   
   </body>

</html>
