<!DOCTYPE html>
 <head>
    <title>Add New Photo</title>
     <% include ../partials/header.ejs %>
     <script>
       function previewFile(){
           var preview = document.getElementById('preview'); //selects the query named img
           var file    = document.querySelector('input[type=file]').files[0]; //sames as here
           var reader  = new FileReader();

           reader.onloadend = function () {
               preview.src = reader.result;
           }

           if (file) {
               reader.readAsDataURL(file); //reads the data as a URL
           } else {
               preview.src = "";
           }
    }
    previewFile();  //calls the function named previewFile()
  </script>
  </head>
  <body>
     <% include ../partials/navbar_registered.ejs %>
  <div class="jumbotron text-center">
   <div class="container">
  
   	<h2>Upload photo</h2>
    <img id="preview" src="/images/img_avatar1.png">
    <br>
    <br>
     <div class="row row-fluid">
      <div class="col-sm-4">
      <div class="form-group">
     <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post'
      encType="multipart/form-data" >
        <input type="file" name="uploadedFile" onchange="previewFile()">
        <input type='submit' class="btn btn-primary" value='Upload' />
    </form> 
      </div>
    </div>
    </div>
    </div>
  </div>
  </body>
</html>
